.mainContainer {
  /* width: 90%; */
  /* display: flex; */
  display: grid;
  place-content: center;
  /* columns: 1; */
  grid-template-columns: 6fr 3fr;
  /* background-color: red; */
  /* align-self: center; */
  margin-inline: 10vw;
  /* justify-self: center; */
  /* justify-content: center; */
  /* justify-content: center; */
  /* background-color: blue; */
}

.leftContainer {
  /* background-color: red; */
  /* width: 65%; */
}
.information > p {
  width: 90%;
}
.information > h1 {
  /* font-size: larger; */

  font-weight: bold;
  text-transform: uppercase;
}

.imageContainer {
  width: 90%;
  height: 500px;
  position: relative;
  border-radius: 30px;
  /* padding: 115px; */
  overflow: hidden;
}

.rightContainer {
  /* width: 35%; */
  /* background-color: blue; */
  display: flex;
  flex-flow: column;
  margin-top: 90px;
  /* justify-content: space-evenly; */
  height: 100%;
  /* justify-content: center; */
  /* align-content: center; */
  /* align-items: center; */
  /* width: 100%; */
}
.details {
  /* background-color: red; */

  /* width: 100%; */
  /* height: 10%; */
  font-size: x-large;
  /* margin-bottom: 10px; */
}

.details > * {
  margin-bottom: 15px;
}

.donation {
  /* background-color: red; */
}

.buttons {
  /* width: 100%; */
  display: flex;
  flex-flow: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.donation > * {
  margin-bottom: 15px;
}
